@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2><a href="Distance/SimpleDistance">Simple distance between two points</a></h2>
        <p>
            This demonstrates getting and displaying the distance between two points
        </p>


    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2><a href="Distance/MultipleDistance">Distance between one origin and multiple target destinations</a></h2>
        <p>
            This demonstrates getting and displaying the distance between multiple points
        </p>
    </div>
</div>